{% extends 'base.html' %}
{% load static %}
{% load bootstrap-class-filter %}
{% block content %}




  <h1 class="text-center p-5">Crie sua postagem</h1>


  <div class="container">
      <form method="POST" >
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Titulo da postagem</label>
            {{ form.title | addClass:'form-control'}}
            <!--<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Como fazer suco de abacaxi">-->
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Aqui fica o conteudo da sua postagem</label>
            {{ form.content | addClass:'form-control'}}
          </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Coloque uma foto relacionada</label>
                {{ form.img | addClass:'form-control-file' }}
              </div>

          <div class="form-group">

            <input type="submit" value="Enviar" class="btn btn-secondary btn-lg"/>
          </div>

        </form>
  </div>



{% endblock %}
